.vscode/**
typings/**
out/test/**
test/**
src/**
**/*.map
**/.gitignore
**/tsconfig.json
**/tslint.json
**/.*.swp
**/.*.swo
*.vsix
**/.github/*
images/error_detection.png
images/tolerant_parsing.png
# node typescript definition files
**/*.d.ts
